<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://CSharp/1.0"
            class="CSharp.CSharpPackage"
            genModel="model/CSharp.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://CSharpPrimitiveTypes"
            class="CSharp.PrimitiveTypes.PrimitiveTypesPackage"
            genModel="model/CSharp.genmodel"/>
   </extension>

</plugin>
