<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="CSharp.presentation.CSharpModelWizardID"
            name="%_UI_CSharpModelWizard_label"
            class="CSharp.presentation.CSharpModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/CSharpModelFile.gif">
         <description>%_UI_CSharpModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="CSharp.presentation.CSharpEditorID"
            name="%_UI_CSharpEditor_label"
            icon="icons/full/obj16/CSharpModelFile.gif"
            extensions="csharp"
            class="CSharp.presentation.CSharpEditor"
            contributorClass="CSharp.presentation.CSharpActionBarContributor">
      </editor>
   </extension>

</plugin>
